<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dinson.customview">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:name="._global.GlobalApplication"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity android:name=".activity._006RemoteDetectionActivity"/>
        <activity android:name=".activity._006HMSCoreMainActivity" />
        <activity android:name=".activity._029NotificationTestActivity" />
        <activity android:name=".activity._028NavigationActivity" />
        <activity android:name=".activity.Main2Activity" /> <!-- 高德地图设置key -->
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.DailyPicActivity" />
        <!--
<activity-alias
            android:name=".activity.WechatActivity"
            android:enabled="true"
            android:icon="@mipmap/wechat"
            android:getActivity=".activity.WechatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        -->
        <activity android:name=".activity.AndroidInfoActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity._001WanAndroidActivity" />
        <activity android:name=".activity.CommonWebActivity" />
        <activity android:name=".activity._001WanAndroidLikeActivity" />
        <activity android:name=".activity._002ZhihuTucaoListActivity" />
        <activity android:name=".activity._002ZhihuTucaoContentActivity" />
        <activity android:name=".activity._003GankActivity" />
        <activity android:name=".activity._003PicSetListActivity" />
        <activity android:name=".activity._004BiliBiliListActivity" />
        <activity android:name=".activity._004BiliBiliVideoActivity" />
        <activity android:name=".activity._005QiNiuYunActivity" />
        <activity android:name=".activity._029FloatingViewActivity" />
        <activity android:name=".activity._007ExchangeActivity" />
        <activity android:name=".activity._008RichEditorActivity" />
        <activity android:name=".activity._009GoogleVRActivity" />
        <activity
            android:name=".activity._010ParallaxActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".activity._011DiagonalLayoutActivity" />
        <activity android:name=".activity._012QQNaviViewActivity" />
        <activity android:name=".activity._013StepViewActivity" />
        <activity android:name=".activity._014HonorClockActivity" />
        <activity android:name=".activity._015ExplosionFieldActivity" />
        <activity
            android:name=".activity._016ParallaxImgViewActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".activity._017TetrisActivity" />
        <activity
            android:name=".activity._018NFCActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".activity._019GangedRecycleViewActivity" />
        <activity android:name=".activity._020ShimmerActivity" />
        <activity android:name=".activity._021LikeSmileViewActivity" />
        <activity android:name=".activity._022GoogleMapActivity" />
        <activity android:name=".activity._023TheDaVinciCodeActivity" />
        <activity android:name=".activity._024SpotlightActivity" />
        <activity
            android:name=".activity._025DaysMatterActivity"
            android:theme="@style/AppTheme.Activity025" />
        <activity
            android:name=".activity._025AddScheduleActivity"
            android:theme="@style/AppTheme.Activity025AddSchedule" />
        <activity
            android:name=".activity._025ChooseScheduleActivity"
            android:theme="@style/BaseDialogTheme" />
        <activity android:name=".activity._026FiveChessActivity" />
        <activity android:name=".activity._027MovieActivity" />
        <activity
            android:name=".activity._027MovieDetailsActivity"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".activity._027MovieListByLinkActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f16432f8253935bdaa564c4ad9288fbe" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDBnMuJo4oIS2H3BTwUM_rECvx4IzKNJpI" /> <!-- receiver -->
        <receiver
            android:name=".weight._025provider.WidgetProviderSmall"
            android:label="倒数日控件(小)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_025_small" />
        </receiver>
        <receiver
            android:name=".weight._025provider.WidgetProviderMiddle"
            android:label="倒数日控件(中)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_025_middle" />
        </receiver>
        <receiver
            android:name=".weight._025provider.WidgetProviderBig"
            android:label="倒数日控件(大)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_025_big" />
        </receiver>
    </application>

</manifest>