<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dinson.customview">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="._global.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DailyPicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity._001ShimmerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity._002QQNaviViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity._003DiagonalLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity._004GangedRecycleViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity._005LikeSmileViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity._006FloatingViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity._007SpotlightActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity._008_RichEditorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity._009GoogleVRActivity"></activity>
    </application>
</manifest>